<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>401</error-code>
        <location>/CustomerLogin.jsp</location>
    </error-page>
    <error-page>
        <error-code>422</error-code>
        <location>/ErrorPages/InvalidInputError.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/ErrorPages/OtherError.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NumberFormatException</exception-type>
        <location>/ErrorPages/InvalidNumberException.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/ErrorPages/405Error.jsp</location>
    </error-page>
</web-app>
